#layout_01 {
  height: 100%;
  width: 100%;
}

#layout_01 .layout_01-wrapper{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

#layout_01 .content {
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}

#layout_01 .footer {
  min-height: 40px;
  width: 100%;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#layout_01 .notice {
  /* position: absolute;
  left: 0;
  top: 0;
  right: 0; */
  width: 100%;
  padding: 2px;
  text-align: center;
  z-index: 1;
  /* background-color: rgba(255, 0, 0, 1); */
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}


.slide-in-right {
  width: 100%;
  text-align: left;
  font-weight: bold;
	-webkit-animation: slide-in-right 20s linear infinite both;
	        animation: slide-in-right 20s linear infinite both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
}