.productCard-container {
  position: relative;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  cursor: pointer;
  /* border-radius: 0.25rem; */
  border: 1px solid #f0f0f0;
  /* box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25); */
  /* box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2), 0px 1px 1px 0px rgba(0,0,0,0.14), 0px 2px 1px -1px rgba(0,0,0,0.12); */
}

.productCard-media {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem; */
  overflow: hidden;
  position: relative;
}

.productCard-media::before {
  content: "";
  display: block;
  /*16:9 aspect ratio*/
  /* padding-top: 56.25%;  */
  padding-top: 100%;
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .productCard-media::before {
      content: "";
      display: block;
      /*16:9 aspect ratio*/
      /* padding-top: 56.25%;  */
    }
}

@media screen
  and (min-width: 1025px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .productCard-media::before {
      content: "";
      display: block;
      /*3:2 aspect ratio*/
      /* padding-top: 62.5%;  */
    }
}

.productCard-info {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.productCard-status {
  /* margin-top: 5px; */
  display: flex;
  justify-content: space-between;
}

.productCard-status .ant-tag {
  margin: 0;
}

.productCard-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-right: 5px;
}

.productCard-text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}

/* products.js */
.products-card-item {
  display: flex;
  padding: 1rem;
  width: 50%;
}

@media only screen
  and (min-width: 414px)
  and (max-width: 767px)
  /* and (-webkit-min-device-pixel-ratio: 2) { */
  {
    .products-card-item {
      width: 50%;
    }
}

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  /* and (-webkit-min-device-pixel-ratio: 2)  */
  {
    .products-card-item {
      width: 33.33%;
    }
}

@media screen
  and (min-width: 1025px)
  and (max-width: 1425px)
  /* and (-webkit-min-device-pixel-ratio: 1)  */
  {
    .products-card-item {
      width: 25%;
    }
}

@media screen
  and (min-width: 1424px)
  /* and (-webkit-min-device-pixel-ratio: 1)  */
  {
    .products-card-item {
      width: 20%;
    }
}